<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>IndividualCustomerServlet</servlet-name>
        <servlet-class>presentation.IndividualCustomerPresent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LegalCustomerServlet</servlet-name>
        <servlet-class>presentation.LegalCustomerPresent</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IndividualCustomerServlet</servlet-name>
        <url-pattern>/addIndividualCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndividualCustomerServlet</servlet-name>
        <url-pattern>/deleteIndividualCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>IndividualCustomerServlet</servlet-name>
    <url-pattern>/editIndividualCustomer</url-pattern>
</servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndividualCustomerServlet</servlet-name>
        <url-pattern>/updateIndividualCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndividualCustomerServlet</servlet-name>
        <url-pattern>/searchIndividualCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndividualCustomerServlet</servlet-name>
        <url-pattern>/showResultIndividualCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LegalCustomerServlet</servlet-name>
        <url-pattern>/LegalCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LegalCustomerServlet</servlet-name>
        <url-pattern>/addLegalCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LegalCustomerServlet</servlet-name>
        <url-pattern>/deleteLegalCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LegalCustomerServlet</servlet-name>
        <url-pattern>/editLegalCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LegalCustomerServlet</servlet-name>
        <url-pattern>/updateLegalCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LegalCustomerServlet</servlet-name>
        <url-pattern>/searchLegalCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LegalCustomerServlet</servlet-name>
        <url-pattern>/showResultLegalCustomer</url-pattern>
    </servlet-mapping>
</web-app>